.footer {
}

.footer__container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 95px 0 85px;

  background-color: @footer-background-color;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 75px @tablet-offset;
  }

  @media @desktop {
    padding: 75px @desktop-offset;
  }
}

.footer__left,
.footer__right {
  text-align: center;

  @media @tablet {
    width: 195px;
  }
}

.footer__left {
  @media @tablet {
    text-align: left;
  }
}

.footer__center {
  order: -1;
  margin-bottom: 45px;

  @media @tablet {
    order: 0;
    margin-bottom: 0;
  }
}

.footer__logo {
  width: 70px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media @tablet {
    margin-bottom: 30px;
  }

  @media @desktop {
    margin-bottom: 25px;
  }
}

.footer__logo-image {
  fill: @footer-logo-color;
}

.footer__socials {
  text-align: center;
}

.footer__socials-item {
  margin-right: 50px;

  @media @tablet {
    margin-right: 40px;
  }

  @media @desktop {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__right {
  @media @tablet {
    text-align: right;
  }
}

.footer__text {
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: @footer-text-color;

  @media @tablet {
    font-size: 16px;
  }
}
