.header__container {
  position: relative;

  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 3px;
}

.header__logo {
  width: 37px;
  height: 23px;
}

.header__menu {
  position: absolute;
  top: 0;
  left: -@mobile-offset;
}

.header__phone {
  display: none;
}
