.intro__container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 608px;
  padding: 0 @mobile-offset;

  background-color: @intro-background-color;

  @media @tablet {
    min-height: 1112px;
    padding: 0 @tablet-offset;
  }
}

.intro__main {
  text-align: center;
  color: @intro-text-color;

  @media @tablet {
    padding-left: 40px;
    padding-right: 40px;

    font-size: 26px;
    letter-spacing: 0.05em;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: @Playfair-Display;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;

  @media @tablet {
    margin-bottom: 45px;

    font-size: 100px;
    letter-spacing: 0.025em;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 25px;

  @media @tablet {
    margin-bottom: 60px;
  }
}

.intro__socials {
  display: none;
}

//Слайдер только на десктопе, в других случаях простой фон картинкой
.intro__slides {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 608px;

  background-color: @intro-background-color;
  background-image: url("../img/intro/mobile/background.jpg");
  background-repeat: no-repeat;
  background-size: 320px 608px;
  background-position: center top;

  @media @tablet {
    height: 1112px;

    background-image: url("../img/intro/tablet/background.jpg");
    background-size: 768px 1112px;
  }
}

.intro__slides-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.intro__switches {
  display: none;
}
