.intro__container {
  position: relative;
}

.intro__main-wrapper {
  position: relative;

  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 608px;
  padding: 0 @mobile-offset;

  background-color: @intro-background-color;

  @media @tablet {
    min-height: 880px;
    padding: 0 @tablet-offset;
  }

  @media @desktop {
    width: 50%;
    min-height: 770px;
    padding: 0;

    background-color: @intro-background-color--desktop;
  }
}

.intro__main {
  text-align: center;
  color: @intro-text-color;

  @media @tablet {
    padding-left: 40px;
    padding-right: 40px;

    font-size: 20px;
    letter-spacing: 0.05em;
  }

  @media @desktop {
    padding-left: 193px;
    padding-right: 112px;

    font-size: 16px;
    line-height: 21px;
    text-align: left;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: @Playfair-Display;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;

  @media @tablet {
    margin-bottom: 45px;

    font-size: 75px;
    letter-spacing: 0.025em;
  }

  @media @desktop {
    margin-bottom: 15px;

    font-size: 60px;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 25px;

  @media @tablet {
    margin-bottom: 60px;
  }

  @media @desktop {
    margin-bottom: 30px;
  }
}

.intro__socials {
  display: none;

  @media @desktop {
    position: absolute;
    bottom: 20px;
    left: @desktop-offset;

    display: flex;
  }
}

.intro__socials-item {
  @media @desktop {
    margin-right: 35px;
  }
}

//Слайдер только на десктопе, в других случаях просто фон
.intro__slides {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: @intro-background-color;
  background-image: url("../img/intro/mobile/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: 320px 608px;
  background-position: center top;

  @media @tablet {
    background-image: url("../img/intro/tablet/slide-1.jpg");
    background-size: 768px 880px;
  }

  @media @desktop {
    top: 84px;
    left: @desktop-offset;

    width: auto;
    height: auto;

    background: none;
  }
}

.intro__slides-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;

  @media @desktop {
    display: block;
  }
}

.intro__slide {
  display: none;

  &--active {
    display: block;
  }
}

.intro__slide-picture {
  display: block;
  width: 1160px;
  height: 595px;
}

.intro__switches {
  display: none;
}
