.menu {
  position: relative;
  z-index: 0;
}

.menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  display: inline-block;
  margin: 0;
  padding: 21px 17px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @media @tablet {
    padding: 41px 43px;
  }

  @media @desktop {
    padding: 10px;
  }

  &--off {
    padding: 26px 14px;

    + .menu__container {
      display: none;
    }

    .menu__icon-burger {
      display: block;
    }

    .menu__icon-close {
      display: none;
    }

    @media @tablet {
      padding: 61px 37px;
    }

    @media @desktop {
      padding: 10px;
    }
  }
}

.menu__icon-burger {
  display: none;

  width: 34px;
  height: 24px;

  fill: #ffffff;

  @media @tablet {
    width: 64px;
    height: 44px;
  }

  @media @desktop {
    width: 26px;
    height: 18px;
  }
}

.menu__icon-close {
  display: block;

  width: 25px;
  height: 25px;

  fill: #ffffff;

  @media @tablet {
    width: 42px;
    height: 42px;
  }

  @media @tablet {
    width: 26px;
    height: 26px;
  }
}

.menu__container {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 609px;

  background-color: @menu-background-color;

  @media @tablet {
    min-height: 1112px;
  }
}

.menu__list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-family: @Raleway;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  list-style: none;

  @media @tablet {
    margin-bottom: 120px;

    font-size: 35px;
    line-height: 42px;
  }
}

.menu__item {
  margin-bottom: 35px;

  @media @tablet {
    margin-bottom: 65px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  color: @menu-link-color;

  &:hover,
  &:focus {
    color: @menu-link-hover-color;
  }
}

.menu__socials {

}
