.reviews {
  @media @tablet {
    padding-bottom: 120px;

    overflow: hidden;
  }
}

.reviews__container {
  position: relative;
}

.reviews__title {
  margin-bottom: 85px;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media @tablet {
    padding-right: 50px;
  }
}

.reviews__item {
  position: relative;

  display: none;
  box-sizing: border-box;
  padding: 0 15px;

  text-align: center;

  background-color: @reviews-item-background-color;

  @media @tablet {
    min-height: 273px;
    padding: 50px 140px 50px 65px;

    text-align: left;
  }

  &--active {
    display: block;
  }
}

.reviews__picture {
  position: relative;
  top: -40px;

  display: block;
  width: 215px;
  height: 192px;
  margin: 0 auto;

  @media @tablet {
    position: absolute;
    top: 38px;
    right: -50px - @tablet-offset;

    width: 187px;
    height: 192px;
  }
}

.reviews__item-title {
  margin: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: @reviews-item-title-color;

  @media @tablet {
    margin-bottom: 5px;

    font-size: 22px;
  }
}

.reviews__item-service {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  letter-spacing: 0.075em;
  color: @reviews-item-service-color;

  @media @tablet {
    font-size: 16px;
  }
}

.reviews__item-text {
  margin: 0;

  font-size: 20px;
  line-height: 30px;

  @media @tablet {
    font-size: 16px;
    line-height: 25px;
  }
}

.reviews__switches {
  position: absolute;
  bottom: -60px;
  left: 0;

  @media @tablet {
    bottom: -75px;
  }
}
