.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item {
  margin-right: 30px;

  @media @tablet {
    margin-right: 80px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;

  &:hover,
  &:focus,
  &:active {
    .socials__image {
      fill: @socials-icon-color--active;
    }
  }

  &--semi-transparent {
    @media @desktop {
      opacity: 0.67;
    }

    &:hover,
    &:focus,
    &:active {
      @media @desktop {
        opacity: 1;
      }
    }
  }
}

.socials__image {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;

  fill: @socials-icon-color;

  @media @tablet {
    width: 30px;
    height: 30px;
  }

  @media @desktop {
    width: 25px;
    height: 25px;
  }

  &--instagram {
    width: 17px;
    height: 17px;

    @media @tablet {
      width: 25px;
      height: 25px;
    }

    @media @desktop {
      width: 21px;
      height: 21px;
    }
  }
}
