header.header.page__header.centerer.centerer--wide
  .header__container
    .header__logo.logo
      +svg({
        name: 'logo-b',
        className: 'header__logo-b logo__b',
        size: [20, 23]
      })
      +svg({
        name: 'logo-r',
        className: 'header__logo-r logo__r',
        size: [20, 23]
      })

    nav.menu.header__menu.centerer.centerer--wide
      button.menu__toggle.menu__toggle--off(type='button')
        span.visually-hidden Меню
        +svg({
          name: 'hamburger',
          className: 'menu__icon menu__icon--burger',
          size: [20, 20]
        })
        +svg({
          name: 'close',
          className: 'menu__icon menu__icon--close',
          size: [20, 20],
          display: 'none'
        })

      .menu__cont-wrapper
        .menu__container
          ul.menu__list
            - var links = ['features', 'portfolio', 'services', 'feedback', 'reviews'];
            each name, idx in ['Преимущества', 'Портфолио', 'Наши услуги', 'Обратная связь', 'Отзывы']
              li.menu__item
                a.menu__link(href=`#${links[idx]}`)= name

          ul.socials.menu__socials
            li.socials__item
              a.socials__link(href='#')
                span.visually-hidden Мы в Вконтакте
                +svg({
                  name: 'vk',
                  className: 'socials__image',
                  size: [22, 26]
                })
            li.socials__item
              a.socials__link(href='#')
                span.visually-hidden Мы в
                  span(lang="en") Instagram
                +svg({
                  name: 'instagram',
                  className: 'socials__image socials__image--instagram',
                  size: [22, 22]
                })
            li.socials__item
              a.socials__link(href='#')
                span.visually-hidden Мы в
                  span(lang="en") Facebook
                +svg({
                  name: 'fb',
                  className: 'socials__image',
                  size: [24, 22]
                })
    p.header__phone.header__phone--icon-phone +0 (000) 000 00 00
