section#features.features.page__features
  .features__container.centerer
    h2.visually-hidden Наши преимущества
    ol.features__list
      each item in features
        li.features__item
          h3.features__item-title(data-num=item.num)= item.title
          p.features__text= item.text
