@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1360px;

@mobile-centerer: 294px;
@tablet-centerer: 696px;
@desktop-centerer: 1162px;

@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1360px)";

@menu-link-color: #ffffff;

@intro-background-color: fadeout(#112537, 12%);
