section#feedback.feedback.page__feedback
  .feedback__container.centerer.centerer--wide.feedback__container--background
    .feedback__inner-container
      h2.visually-hidden Обратная связь
      b.title.title--light.feedback__title
        span.title--break Мечтаете
        | об интерьере от BRUME?
      p.feedback__text Оставьте контактные данные, менеджер свяжется с вами в течении 15 минут, для уточнения всех деталей.

      form.form.feedback__form(method="POST")
        label.feedback__label.form__label
          span.visually-hidden Имя
          input.feedback__input.form__input(type="text" name="name" placeholder="Имя*" autocomplete="off" minlength="2" maxlength="25" required)
          +svg({
            name: 'user',
            className: 'feedback__icon feedback__icon--user',
            display: 'none'
          })

        label.feedback__label.form__label
          span.visually-hidden Телефон
          input.feedback__input.form__input(type="tel" name="phone" placeholder="Телефон*" minlength="2" maxlength="25"  required autocomplete="off")
          +svg({
            name: 'phone',
            className: 'feedback__icon feedback__icon--phone',
            display: 'none'
          })

        label.feedback__label.form__label
          span.visually-hidden(lang="en") E-mail
          input.feedback__input.form__input(type="email" name="email" placeholder="E-mail"  minlength="2" maxlength="40"  autocomplete="off")
          +svg({
            name: 'mail',
            className: 'feedback__icon feedback__icon--mail',
            display: 'none'
          })

        button.btn.btn--light.btn--round.form__btn(type="submit") Отправить

      p.feedback__note Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных
