section.stages.page__stages
  .stages__container.centerer
    h2.title.stages__title Этапы работы

    ol.stages__list
      each stage, index in stages
        li.stages__item
          b.stages__item-number(aria-hidden='true')= index + 1
          h3.stages__item-title.stages__item-title--dash= stage.title
          p.stages__item-description= stage.text
