head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')

  link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
  link(rel="manifest" href="site.webmanifest")
  link(rel="mask-icon" href="safari-pinned-tab.svg" color="#112537")
  meta(name="msapplication-TileColor" content="#fdfaf3")
  meta(name="theme-color" content="#ffffff")

  //- script(
  //-   src="https://code.jquery.com/jquery-3.3.1.js"
  //-   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  //-   crossorigin="anonymous"
  //- )
  script(src="js/jquery.min.js")
  script(src="js/picturefill.min.js")
  script(src="js/svg4everybody.min.js")

  link(rel='stylesheet' href='css/style.min.css')
  link(rel="preload" href="fonts/Playfair_Display/playfairdisplay-regular-webfont.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="preload" href="fonts/Raleway/raleway-regular-webfont.woff2" as="font" type="font/woff2" crossorigin)

  title BRUME | Дизайн интерьеров
